/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=Poppins:wght@200;400&display=swap'); */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies' , cursive ;
}
body{
    background:#e0e0e0;
}
    ::-webkit-scrollbar {
        display: none;
    }
.contactUs{
    position: relative;
    width:100%;
    padding: 40px 80px;
    height: 80vh;
}

.title{
    color: #0b0b0b;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}.form{
    grid-area: form;
 }
 .info{
     grid-area: info;
  }
  .map{
     grid-area: map;
  }
  .contact{
    padding: 40px;
    border-radius: 41px;
/* background: #e0e0e0; */
box-shadow:  5px 5px 10px #676767,
-5px -5px 10px #ffffff;

  }
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
    background: #e0e0e0;
    border-radius: 41px;
}
.contact h3{
    color:#0a0a0a;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 10px;
    
}
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 50px;
}.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
    
}.formBox .row100.inputBox{
     width: 100%;
}.inputBox span{
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border-radius: 12px;
    border: none;
    /* background: #e0e0e0; */
    box-shadow: inset 14px 14px 28px #acacac,
                inset -14px -14px 28px #ffffff;
}.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    /* border: 1px solid #333; */
    border-radius: 12px;
    border: none;
    background: #e0e0e0;
    box-shadow: inset 14px 14px 28px #acacac,
                inset -14px -14px 28px #ffffff;
    resize: none;
    min-height: 150px; 
    margin-bottom: 10px;
}

.inputBox ::placeholder{
    color:rgb(77, 77, 75);
}/*.info {
    background: #333;
}
.info h3{
    color:#fff;
}*/
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}.info .infoBox div p{
    color:#0066A1;
    font-size: 1.1em;
    
}.info .infoBox div a{
    color:#0066A1;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.5s ease-out;
}
.info .infoBox div a:hover{
  transform: scale(1.2);
}  
    .sci{
    margin-top: 40px;
    display: flex;
}.sci li{
    list-style: none;
    margin-right: 15px;
}.sci li a{
    color: brown;
    font-size: 2em;
    color: black;
}.map{
    padding: 0;
}.map iframe{
    width: 100%;
    height: 100%;
    box-shadow:  5px 5px 10px #676767,
    -5px -5px 10px #ffffff;
}

@media(max-width:991px){
    body{
        background: #e0e0e0;
    }
    .contactUs{
        padding: 20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
    .map{
        min-height: 300px;
        padding: 0;
    }
}
.alert{
    width: 100%;
    background: #0066A1;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Rowdies' , cursive;
}

button{
    color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}
button:hover {
    border: 1px solid white;
  }
  
button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }

  ion-icon{
    transition: all 0.5s ease-out;
  }
  ion-icon:hover{
    transform: scale(1.2);
  }
  img{
    position: relative;
    right: 1em;
    top: 0.5em;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    border-radius: 12px;
  }
  /* preloader */
  #loading{
	position: fixed;
	width: 100%;
	height: 100%;
	background:#131111;	
	z-index: 99999;
}
/* #loadimg{
    position: relative;
    top: 20px;
} */
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #161048;

    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #161048;
  
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6161eb;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0%   {

        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {

        transform: rotate(0deg);
    }
    100% {

        transform: rotate(360deg);
    }
}