*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}
body{
  background: linear-gradient(to top left, rgb(18, 67, 150),rgb(252, 253, 255),rgb(18, 65, 145));
}
::-webkit-scrollbar{
	display: none;
}
.container{
    
    width: 100%;
    height: 100vh;
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: rgb(1, 1, 1);
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* padding: 15vh ; */
}
.container h1{
    font-size: 60px;
    font-weight: 500;
    
}
.title{
    display: flex;
    flex-direction: column;
}

span{
    color: rgb(12, 47, 102);
    padding-bottom: 2em!important
}
.line{
    height: 3px;
    width: 10em;
    background-color: rgb(62, 103, 223);
  }
.maindiv{
    width: 70%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url(event2.jpg); */
    background-size: 100% 100%;
    box-shadow: 1px 2px 5px 5px rgb(20, 19, 19);
    animation: slider 25s infinite linear;
    object-fit: contain;

}
@keyframes slider{
  0%{ background-image: url(eventimage1.jpg); 
      object-fit: contain;}
  10%{ background-image: url(eventimage2.jpg); }
  20%{ background-image: url(eventimage3.jpg); }
  30%{ background-image: url(eventimage4.jpg); }
  40%{ background-image: url(eventimage5.jpg) ;}
  50%{ background-image: url(eventimage6.jpg) ;}
  60%{ background-image: url(eventimage7.jpg) ;}
  70%{ background-image: url(eventimage8.jpg) ;}
  100%{ background-image: url(eventimage1.jpg); }
}

.maindiv:hover{
  animation-play-state: paused;
  cursor: pointer;
}
/*  */
.column1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col3{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card11{
    box-sizing: border-box;
    border-radius: 47px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #676767,
                 -5px -5px 10px #ffffff;
    margin: 25px 10px;
  }
  .card0{
    box-sizing: border-box;
    border-radius: 47px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #676767,
                 -5px -5px 10px #ffffff;
    margin: 25px 10px;
  }
  .card00{
    box-sizing: border-box;
    border-radius: 47px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #676767,
                 -5px -5px 10px #ffffff;
    margin: 25px 10px;
  }
  .card000{
    box-sizing: border-box;
    border-radius: 47px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #676767,
                 -5px -5px 10px #ffffff;
    margin: 25px 10px;
  }
  @media(max-width:1235px){

    .column1{
        display: flex;
        flex-direction: column;
    }
    .col2{
        display: flex;
        flex-direction: column;
    }
  
  }
  @media(max-width:770px){
    span{
        display: none;
    }
    #spi{
        display: none;
    }
    #event{
        display: block!important;
        color: rgb(8, 8, 8);
    }
    .line{
        height: 5px;
        width: 15em;
        background-color: rgb(62, 103, 223);
        padding-bottom: 2px;
      }

  }
  #loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #131111
	 no-repeat center ;	
	z-index: 99999;
}
#home0{
    padding: 0.7em 0.7em;
    filter: invert(50%);
    transition: all 0.5s ease-in-out;
}
#home0:hover{
    transform: scale(1.2);
}
/* #loadimg{
    position: relative;
    top: 20px;
} */
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #161048;

    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #161048;
  
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6161eb;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0%   {

        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {

        transform: rotate(0deg);
    }
    100% {

        transform: rotate(360deg);
    }
}

/* footer */
.main-footer ul {
    list-style: none;
  }
  .main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .main-footer h1 {
    font-size: 25px;
    line-height: 110%;
    color:rgb(216, 214, 214);
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .main-footer h2 {
    /* color: #ffffff; */
    /* font-weight: 500; */
    font-family: 'Rowdies', sans-serif;
  }
  
  .main-footer ul li a {
    color:white;
    text-decoration:none;
  }
  
  #footer {
    background: #0066A1;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;
  }
  .com{
    position: relative;
    right: 1.5em;
  }
  @media(max-width:747px){
    .com{
      position: relative;
      left: -5px;
    }
  }
  #footer a {
    text-decoration: none;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details li {
    list-style: none;
    margin: 10px 0;
  }
  
  .contact-details li a {
    text-decoration:none;
    color: #f1f1f1;
  }
  
  .contact-details .fa {
    color: #f1f1f1;
    margin-right: 10px;
  }
  
  .sociallogos{
    padding:20px 0;
  }
  
  .sociallogos .logobox a{
    padding:0 10px;
    text-decoration:none;
    color:#ffffff;
    font-size:22px;
   
  }
  .logobox a i{
    transition: all 0.5s ease-in-out;
  }
  .logobox a i:hover{
    transform: scale(1.5);
  }
  
  .com ul li{
    padding: 5px 0;
    font-family: 'Rowdies', cursive;
    transition: all 0.5s ease-in-out;
  }
  
  @media only screen and (max-width: 749px) {
    .main-footer {
      padding:20px;
      display: flex;
      flex-direction: column;
    }
      .info{
        padding:20px 0;
    }
  }
  
  @media (max-width: 480px) {
    .main-footer {
      grid-template-columns: 1fr;
    }
    .sociallogos{
      padding:20px 0;
    }
    .com{
      padding:20px 0;
    } 
  
  }
  #socio{
    margin-right: 0.4em;
  }
  #line1{
    height: 1px;
    width: 5em;
    background-color: rgb(13, 14, 15);
    padding-bottom: 2px;
  }
  #hm:hover,#mail:hover,#call:hover{
     color: #2db2ff;
  }
  #mail,#call{
    transform: scale(0.8);
  }
  #call{
    position: relative;
    right: 1em;
  }
  #line0{
    height: 1px;
    width: 5em;
    background-color: rgb(13, 14, 15);
    padding-bottom: 2px;
    position: relative;
    left: 3em;
  }
  #line2{
    height: 1px;
    width: 5em;
    background-color: rgb(13, 14, 15);
    padding-bottom: 2px;
    position: relative;
    left: 0.6em;
  }