*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    scroll-behavior: smooth;
    padding: 0px;
    z-index: 0;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(2, 35, 56);
    padding: 0;
    width: 100%;
    height: 67px;
    transition: all 0.5s ease-in-out;
    z-index: 100000;
}
.navlist li{
    display: inline-block;
    list-style: none;
    padding: 0 15px;

}
.navlist ul{
  margin-right: 3em;
  margin-bottom: 0.2em;
}
.navlist li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(245, 245, 248);
    /* font-weight: bold; */
    font-family: 'Lobster', cursive;
    padding: 20px 5px;
}
.image{
    position: relative;
    left: 0.5em;
}
.navlist li a:hover,a:focus{
    color: rgb(7, 13, 38)!important;
    background-color: rgba(244, 245, 249, 0.911);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.menu-lines{
    position: relative;
    right: 1em;
    bottom: 0.1em;
    display: none;
    cursor: pointer;
  
}
#but{
    color: rgb(46, 74, 234);
}
.cross{
    position: relative;
    right: 1em;
    bottom: 0.1em;
    cursor: pointer;
    display: none;
}
/* responsive*/
@media (max-width:798px){
     .navlist{
        display: none;
     }

     .menu-lines{
        display: block;
     }
     .cross{
        position: relative;
        bottom: 5.6em;
        right: 1.3em;
     }
     .flex{
        display: flex;
       flex-direction: column;
       /* position: relative;
       top: 9em;
       left: -2em; */
       text-align: center;
       justify-content: center!important;
       width: 100%;
       position: relative;
       right: 2em;
       transition: all 2s ease-in-out;
       /* margin-top: 18em; */
     }
     .flex li a{
        color: rgb(253, 248, 248);
        padding: 0px 0px;
        width: 100%;
     }
     .flex li a:hover{
        position: relative;
        color: rgb(7, 13, 38);
        background-color: rgba(244, 245, 249, 0.911);
        border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    padding: 0px 50px;
    }
    .flex li{
         padding: 8px ;
    }
.active1{
    display: block;
}
.nav{
    width:100%;
}
}
.anime{
    /* background: url('anime.png'); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 30%;
    height: 100vh;
    z-index: 999!important;
}
#particles-js{
    position: relative;
    height: 100%;
    background:linear-gradient(to bottom right,rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235));
    mix-blend-mode: screen;
    z-index: 0;
}
/* .text{
    left: 35em;
    top: 11em;
    position: absolute;
    color: gray;
    font-size: 30px;
    font-family: 'Rubik Distressed', cursive;
}
#one,#two{
    color: rgb(22, 40, 242);
}
#three{
    position: absolute;
    left: 5em;
    top: 1em;
}
#two{
    position:absolute;
    left: 6.8em;
    top: 1em;
} */
/* .four span {
	color: #8d6a00;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: revolveDrop 1s forwards;
    animation-iteration-count: infinite;
}


@keyframes revolveDrop {
	30% {
		transform: translate(0, -50px) rotate(360deg) scale(1);
        color: aqua;
	}

	60% {
		transform: translate(0, 20px) scale(.8) rotate(90deg);
        color: blue;
	}

	100% {
		transform: translate(0) scale(1) rotate(180deg);
		opacity: 1;
        color: aliceblue;
	}
} */
/* .text{
    color: white;
      border-right: 2px solid rgb(253, 236, 236);
      font-size: 50px;
      font-family: 'Rubik Distressed', cursive;
      color: rgb(0, 170, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      position:absolute;
      top: 11em;
      left: 11.4em;
  } */
  /* #loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #1D1F39
	 no-repeat center ;	
	z-index: 99999999;
    overflow-y: hidden!important;
}
#loadimg{
    position: relative;
    width: 40%; 
    height: 40%;
    position: relative;
    overflow-y: hidden!important;
}
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden!important;
}
.about{
    height: 100vh;
    background-color: antiquewhite;
}
.active{
    overflow: hidden!important;
} */
/* Preloader */
.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:99999999;overflow: show!important;
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid rgba(95, 93, 93, 0.2);
  border-top-color: rgb(12, 12, 16); /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none; 
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: rgb(11, 125, 255);
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: rgba(50, 155, 224, 0.2);	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(8):before {
    animation-delay: 1.2s;
  }
  .container-preloader .animation-preloader .txt-loading .characters:nth-child(9):before {
    animation-delay: 1.2s;
  }
.container-preloader .loader-section {
    background:linear-gradient(to bottom right,rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235));
    ; background-repeat: no-repeat; background-attachment: fixed; height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}
  /*about section*/
  #text{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 1.5em; */
    font-family: 'Lobster', cursive;
    font-size: 34px;
  }
  .about{
    background: linear-gradient(to top left, rgb(120, 120, 128),rgba(57, 80, 148, 0.975));
    height: 100vh;
    padding-top: 5em;
  }
  #info{
    color: whitesmoke;
    font-size: 21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* /* padding-left:0em; */
    padding-top: 1.8em;
    display: flex;
    text-align: center;
  }
  #bor{
    width: 10%;
    display: grid;
    /* align-items: center;
    justify-content: center !important;
    text-align: center; */
    /* position: relative; */
    place-items: center;
  
  }
  #particle-image{
    background: linear-gradient(to bottom left, rgb(120, 120, 128),rgba(57, 80, 148, 0.975));
    height: 100vh;
    padding-left: 3em;
    padding-right: 3em;
  }
#container1{
  width: 20em;
  overflow-x: visible;
  height: 20em;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}