*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    z-index: 0;
}
/* html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
} */
/* custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
} 
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    justify-content:space-between;
    align-items: center;
    background: #00121b;
    padding: 0;
    width: 100%;
    height: 67px;
    transition: all 0.5s ease-in-out;
    z-index: 100000;
}
.navlist li{
    display: inline-block;
    list-style: none;
    padding: 0 15px;

}
.navlist ul{
  margin-right: 3em;
  margin-bottom: 0.2em;
}
.navlist li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(245, 245, 248);
    /* font-weight: bold; */
    font-family: 'Lobster', cursive;
    padding: 20px 5px;
}
.image{
    position: relative;
    left: 0.5em;
}
.navlist li a:hover,a:focus{
    color: rgb(7, 13, 38)!important;
    background-color: rgba(244, 245, 249, 0.911);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.menu-lines{
    position: relative;
    right: 1em;
    bottom: 0.1em;
    display: none;
    cursor: pointer;
  
}
#but{
    color: rgb(46, 74, 234);
}
.cross{
    position: relative;
    right: 1em;
    bottom: 0.1em;
    cursor: pointer;
    display: none;
}
/* responsive*/
@media (max-width:798px){
  .btn{
    position: relative;
    bottom: 1.7em;
  }
     .navlist{
        display: none;
     }
     /*  */
     .card{
      display: flex;
      flex-direction: column;
     }
     .column1{
      display: flex;
      flex-direction: column;
    }
    .col1{
      display: flex;
      flex-direction: column;
    }
    .col2{
      display: flex;
      flex-direction: column;
    }
    .col3{
      display: flex;
      flex-direction: column;
    }
     .menu-lines{
        display: block;
     }
     .cross{
        position: relative;
        bottom: 8em;
        right: 1.3em;
     }
     .flex{
        display: flex;
       flex-direction: column;
       /* position: relative;
       top: 9em;
       left: -2em; */
       text-align: center;
       justify-content: center!important;
       width: 100%;
       position: relative;
       right: 2em;
       transition: all 2s ease-in-out;
       /* margin-top: 18em; */
     }
     .flex li a{
        color: rgb(253, 248, 248);
        padding: 0px 0px;
        width: 100%;
     }
     .flex li a:hover{
        position: relative;
        color: rgb(7, 13, 38);
        background-color: rgba(244, 245, 249, 0.911);
        border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    padding: 0px 50px;
    }
    .flex li{
         padding: 8px ;
    }
.active1{
    display: block;
}
.nav{
    width:100%;
}
}
.anime{
    /* background: url('anime.png'); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 30%;
    height: 100vh;
    z-index: 999!important;
}
#particles-js{
    height: 100%;
    background:linear-gradient(to bottom right,rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235));
    mix-blend-mode: screen;
    z-index: 0;
}
/* .text{
    left: 35em;
    top: 11em;
    position: absolute;
    color: gray;
    font-size: 30px;
    font-family: 'Rubik Distressed', cursive;
}
#one,#two{
    color: rgb(22, 40, 242);
}
#three{
    position: absolute;
    left: 5em;
    top: 1em;
}
#two{
    position:absolute;
    left: 6.8em;
    top: 1em;
} */
/* .four span {
	color: #8d6a00;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: revolveDrop 1s forwards;
    animation-iteration-count: infinite;
}


@keyframes revolveDrop {
	30% {
		transform: translate(0, -50px) rotate(360deg) scale(1);
        color: aqua;
	}

	60% {
		transform: translate(0, 20px) scale(.8) rotate(90deg);
        color: blue;
	}

	100% {
		transform: translate(0) scale(1) rotate(180deg);
		opacity: 1;
        color: aliceblue;
	}
} */

  /* #loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #1D1F39
	 no-repeat center ;	
	z-index: 99999999;
    overflow-y: hidden!important;
}
#loadimg{
    position: relative;
    width: 40%; 
    height: 40%;
    position: relative;
    overflow-y: hidden!important;
}
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden!important;
}
.about{
    height: 100vh;
    background-color: antiquewhite;
}
.active{
    overflow: hidden!important;
} */
/* Preloader */
.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:99999999;overflow: show!important;
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid rgba(95, 93, 93, 0.2);
  border-top-color: rgb(12, 12, 16); /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none; 
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: rgb(11, 125, 255);
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: rgba(50, 155, 224, 0.2);	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(8):before {
    animation-delay: 1.2s;
  }
  .container-preloader .animation-preloader .txt-loading .characters:nth-child(9):before {
    animation-delay: 1.2s;
  }
.container-preloader .loader-section {
    background:linear-gradient(to bottom right,rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235),rgb(16, 16, 73),rgb(7, 68, 235));
    ; background-repeat: no-repeat; background-attachment: fixed; height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
 
}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}
  /*about section*/
  #text{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 1.5em; */
    font-family: 'Lobster', cursive;
    font-size: 34px;
  }
  /* .about{
    background: linear-gradient(to top left, rgb(120, 120, 128),rgba(57, 80, 148, 0.975));
    height: 100vh;
    padding-top: 5em;
  }
  #info{
    color: whitesmoke;
    font-size: 21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* /* padding-left:0em; */
    /* padding-top: 1.8em;
    display: flex;
    text-align: center;
  } */
  /* #bor{
    width: 10%;
    display: grid; */
    /* align-items: center;
    justify-content: center !important;
    text-align: center; */
    /* position: relative; */
    /* place-items: center;
  
  } */ 
  #particle-image{
    background: linear-gradient(to top left, rgb(35, 107, 231),rgb(252, 253, 255),rgb(35, 107, 231));
    height: 100%;
    padding-left: 3em;
    padding-right: 3em;
  }
#container1{
  width: 20em;
  overflow-x: visible;
  height: 20em;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
/* text */
/* about */
.about{
  overflow-x: hidden;
  overflow-y: hidden;
  height:100% ;
  display: flex;
  /* padding-top:2em; */
  align-items: center;
  flex-direction: column;
  /* background: linear-gradient(to top left, rgb(120, 120, 128),rgba(57, 80, 148, 0.975)); */
  background-color: rgb(44, 39, 39);
}
#title{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: rgb(243, 241, 241);
  /* margin-top: 3em; */
  padding-top:2em;
}
.line{
  height: 1px;
  width: 8em;
  background-color: rgb(62, 103, 223);
  padding-bottom: 2px;
}
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}
@media screen and (max-width: 1257px) {
  .card2{
    display: flex;
    flex-direction: column;
  }
}
/* Style the counter cards */
.card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: justify;
  margin-top: 25px;
  background-color: rgb(44, 39, 39);
  color: aliceblue;
  backdrop-filter: blur(5px);
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin-top: 10px;
  text-align: justify;
  background-color: rgb(44, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.texting{
  padding: 0 40px;
}
/* button */
.btn{
  margin-top: 3em;
  background:rgba(36, 99, 216, 0.75);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(212, 211, 212, 0.75);
	border-top: 1px solid rgba(197, 194, 196, 0.75);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: rgb(36, 181, 248);
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
  position: relative;
  bottom: 1.4em;
	backdrop-filter: blur(15px);
}
.btn:hover{
  letter-spacing: 3px;
  cursor: pointer;
}
.btn::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background: linear-gradient(to left, rgba(11, 11, 11, 0.15), transparent);
transform: skewX(45deg) translate(0);
transition: 0.5s;
filter: blur(0px);
}
 .btn:hover ::before {
transform: skewX(45deg) translate(200px);
}
.btn::before {
content: "";
position: absolute;
left: 50%;
transform: translatex(-50%);
width: 30px;
height: 10px;
background: #f00;
border-radius: 10px;
transition: 0.5s;
transition-delay: 0.5;
top: 32px;
}
.btn:hover::before, .btn:hover:after /*lightup button*/ {
height: 100%;
width: 80%;
border-radius: 30px;
}

 .btn::after {
content: "";
position: absolute;
left: 50%;
transform: translatex(-50%);
bottom: 32px;
width: 30px;
height: 10px;
background: #f00;
border-radius: 10px;
transition: 0.5s;
transition-delay: 0.5;
}
.btn::before, /* 2*/
.btn::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
  }
  /* collab */
.collaboration{
  overflow-x: hidden;
  overflow-y: hidden;
  height:100%;
  display: flex;
  /* padding-top:2em; */
  align-items: center;
  flex-direction: column;
  /* background: linear-gradient(to top left, rgb(120, 120, 128),rgba(57, 80, 148, 0.975)); */
  background-color: rgb(44, 39, 39);
}
.column1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.col1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.col2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.col3{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card11{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(44, 39, 39);
  margin: 25px 10px;
}
.card0{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(44, 39, 39);
  margin: 25px 10px;
}
.card00{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(44, 39, 39);
  margin: 25px 10px;
}
.card000{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(44, 39, 39);
  margin: 25px 10px;
}
#title1{
  font-size: 40px;
  font-family: cursive;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.line1{
  height: 1px;
  width: 12em;
  background-color: rgb(62, 103, 223);
  padding-bottom: 2px;
}

/* achieve */
.achievements{
  height: 100%;
  padding-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(44, 39, 39);
}

#title2{
  font-size: 40px;
  font-family: cursive;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.line2{
  height: 1px;
  width: 13em;
  background-color: rgb(62, 103, 223);
  padding-bottom: 2px;
}
/* footer */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }
 .inner-footer {
  width: 97%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}
.footer-items img{
  position: relative;
  right: 2em;
}
.footer-items .typewriter{
	font-size: 19px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
  /* position: relative;
  right: 5em;
  bottom: 1em; */
}

.footer-items h1 {
	color: #fff;
}
.border1 {
	height: 3px;
	width: 40px;
	background: #1782da;
	color: #1782da;
	background-color: #1782da;
	border: 0px;
  margin-top: 8px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #1782da;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}
.social-media {
	width: 100%;
	/* color: #fff; */
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}
.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.footer-bottom img{
  position: relative;
  top: 3px;
}
#up{
position:absolute;
left:2em
}
.footer-bottom a i{
  border-radius: 70%;
  background-color: rgb(234, 232, 232);
}
@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
  .inner-footer{
    display: flex;
    flex-direction: column;
  }
  .footer-items img {
		position: relative;
    left: 17.9em;
	}
}
@media screen and (max-width: 660px) {
	.footer-items {
		width:100%;
	}
  .footer-items img {
		position: relative;
    left: 5.2em;
	}
  /* .footer-items p{
		display: inline-block;
    margin-left: 8em;
	} */
}
.typewriter {
	width: 32ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(31) alternate infinite;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 32ch; 
  }
}